@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    input:focus, textarea:focus, select:focus {
        outline: none;
    }

    .activateHover:hover{
        outline:2px solid black;
    }

    .butttonprimary{
        background-color: #0047ab;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

        .butttonprimary:hover{
            opacity: 0.9;
            transition: 0.3s;
        }

    .buttondanger{
        background-color: red;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

        .buttondanger:hover{
            opacity: 0.9;
            transition: 0.3s;
        }
</style>


<div class="mx-auto ">

    <div class="mx-auto rounded shadow" style="width:70%; height:auto; background-color: white; border: 2px solid  #379237;">
        <div class="container" style="margin-top:15px;">
           <span style="">FILENAME HERE.</span>               
        </div>
        <div class="container">
            <hr style=" border-top: 1px solid #379237;" />
        </div>
        <div class="row" style="width:100%; height:100%; padding:5px;">
            <div class="col container ">

                <div class="container" style="margin-top:10px;">
                    <h4><strong>Details</strong></h4>
                </div>

                <div class="container">
                    <div class="rounded activateHover" style="border:1px solid gray; width:100%;  height:fit-content; padding:5px; padding-left: 10px;">
                        <span style="display:block;">Title:</span>
                        <input ng-model="cs.title" ng-disabled="!cs.isEditMode" style="width:100%; border:0px;" required />
                        <br />
                    </div>
                </div>
                <br />
                <div class="container">
                    <div class="rounded activateHover" style="border:1px solid gray; width:100%;  height:fit-content; padding:5px; padding-left: 10px;">
                        <span style="display:block;">Description:</span>
                        <textarea ng-model="cs.description" ng-disabled="!cs.isEditMode" style="width:100%; height:50%; border:0px;" placeholder="Tell us about your video"></textarea>
                        <br />
                    </div>
                </div>
                <br />

                <div class="container">
                    @*THUMBNAI*@
                        <span style="display:block;">Thumbnail:</span>
                        <span style="font-size:8pt;">
                            Select or upload a picture that shows what's in your video.
                            A good thumbnail stands out and draws viewers' attention.
                        </span>
                        @*YOUR THUMBNAIL HERE.*@
                        <div style="width:100%">
                        </div> 
                </div>

            </div>
            <div class="col">
                <div style="text-align:center;">
                    <video ng-src="{{cs.videoUrl}}" preload="none" controls style="outline:none; width:300px; height:200px;"></video>
                </div>
                <div style="margin-left:60px; margin-top:5px;">
                    <span style="display:block; margin-bottom:0px;">Filename</span>
                    <span style="top:-50px"><strong>FILENAME HERE</strong></span>
                </div>
            </div>
        </div>
        <div class="container">
            <hr style=" border-top: 1px solid #379237;" />
        </div>
        <div class="container" style="text-align:right; padding-right: 40px;">
            <button type="button" class="butttonprimary rounded" ng-click="vm.editSave(cs, $event)" style="font-size:12pt;">SAVE</button>
        </div>
        <br />
    </div>

</div>




